<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerD">
      <a routerLink="home" class="navbar-brand">Inicio</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="**" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver la carta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Ver Menú</a>
            <a class="dropdown-item" href="#">Ver Bebidas</a>
            <a class="dropdown-item" href="#">Ver postres</a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="carta" class="nav-link">Ver la carta</a>
        </li>
        <li class="nav-item">
          <a routerLink="salones" class="nav-link">Fiestas Privadas</a>
        </li>
        <li class="nav-item">
          <a routerLink="ubicacion" class="nav-link">Ubicaciones</a>
        </li>
        <li class="nav-item">
          <a routerLink="reserva" class="nav-link">Reserva</a>
        </li>
        <li class="nav-item">
          <a routerLink="contacto" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
          <a routerLink="iniciarsesion" class="nav-link">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>
</body>
</html>
